.background {
  background-image: url("/assets/images/wedding-quotes-1587481892 (1).jpg");
  background-size: cover;
  height: 100%;
}

.center {
  text-align: center;
  font-size: large;
  height: 100%;
  width: 100%; /* Full width */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

.logo {
  width: 100%;
}

.title {
  margin: 24px;
}

.number-of-guests {
  font-size: 22px;
  width: 50px;
  height: 25px;
  text-align: center;
  margin: 10px;
}

.is-arriving {
  display: flex;
  justify-content: center;
}

button {
  margin: 8px;
}

agm-map {
  height: 200px;
  width: 300px;
}

.map {
  display: flex;
  justify-content: center;
}

.cal-link {
  margin-right: 10px;
  text-decoration: none !important;
}

.selected {
  border: 3px whitesmoke solid;
}

.message-input {
  width: 60%;
  max-width: 300px;
}

.amount-of-guests {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gusset-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.icon-size {
  width: 48px;
  height: 48px;
}

/*.icon-size:hover {*/
/*  background-color: #9d9494;*/
/*  border-radius: 100px;*/
/*}*/
