<div class="center">
  <img width="300" src="https://i.ibb.co/dDQtBry/wedding-quotes-1587481892.jpg">
  <h2>!שלום פלוני אלמוני</h2>
  <h3>
    לירז כהן ומאור ישראל נרגשים להזמינכם לחגוג את יום שמחתם
    <br>
    <div style="margin-top: 16px;">
      ביום רביעי ה-
      10/11/2021 בשעה 19:00
      YARA GARDEN בגן האירועים
    </div>
  </h3>


  <div>
    הוסף/י ליומן
  </div>

  - כמה אורחים מגיעים -
  <div>
    <button (click)="handleRemoveGuest()" mat-raised-button color="accent">
      <mat-icon>remove_circle_outline</mat-icon>
      הורדת אורח
    </button>
    <label>
      <input [value]="numOfGuests" class="number-of-guests" matInput placeholder="-">
    </label>
    <button (click)="handleAddGuest()" mat-raised-button color="accent">
      <mat-icon>add_circle_outline</mat-icon>
      הוספת אורח
    </button>
  </div>

  <div>
    הוספת הערה לבעלי השמחה
  </div>

  אנא אשרו את הגעתכם
  <div class="is-arriving">
    <button mat-raised-button color="accent">
      <mat-icon>done</mat-icon>
      מגיע
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>close</mat-icon>
      לא מגיע/ה
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>help_outline</mat-icon>
      אולי מגיע
    </button>
  </div>

  <div class="map">
    <agm-map
      [latitude]='lat'
      [longitude]='lng'
    >
      <agm-marker
        [latitude]="lat"
        [longitude]="lng">
      </agm-marker>

    </agm-map>
  </div>

  <div>?טעות במספר</div>

</div>
