.center {
  text-align: center;
  font-size: large;
  background: gainsboro;
  height: 100%;
}

.title {
  margin: 24px;
}

.number-of-guests {
  width: 50px;
  height: 25px;
  text-align: center;
  margin: 10px;
}

.is-arriving {
  display: flex;
  justify-content: center;
}

button {
  margin: 8px;
}

agm-map {
  height: 200px;
  width: 300px;
}

.map {
  display: flex;
  justify-content: center;
}
