<ng-container *ngIf="loading; else showPage">
  <!--  <app-loading></app-loading>-->
</ng-container>

<ng-template #showPage>

  <div (click)="handleCornerClick()" class="corner-container">
    <div class="corner"><span>לחץ להצגת ההזמנה</span></div>
  </div>

  <div id="myModal" class="modal">
    <span class="close">סגור &times;</span>
    <img src="/assets/images/ortal.jpg" class="modal-content" alt="הזמנה">
    <div id="caption"></div>
  </div>

  <div *ngIf="!showImage" class="background">
    <div class="center">
      <h2 style="font-weight: bolder; padding-top: 7rem;">
        !שלום {{guestData.name}}
        <br>
        אורטל כהן ומתן ארגמן נרגשים להזמינכם
        <br>
        לחגוג את יום שמחתם
      </h2>

      <h1>
        <div style="font-weight: bold">
          ביום רביעי ה-
          21/06/2021 בשעה 19:30
          <br>
          בטרה, קיסריה
        </div>
      </h1>

      - כמה אורחים מגיעים -
      <div class="amount-of-guests">
        <div class="icon-size">
          <mat-icon class="gusset-icon" (click)="handleRemoveGuest()">remove_circle_outline</mat-icon>
        </div>
        <div>
          <label>
            <input type="number" [value]="guestData?.amountOfGuests?.toString()" class="number-of-guests" matInput
                   placeholder="-">
          </label>
        </div>
        <div class="icon-size">
          <mat-icon class="gusset-icon" (click)="handleAddGuest()">add_circle_outline</mat-icon>
        </div>
      </div>

      <div style="margin-top: 12px">
        <label>
          - הוספת הערה לבעלי השמחה -
          <br>
          <textarea matInput
                    [value]="guestData?.message || ''"
                    (change)="messageTextChanged($event)"
                    class="message-input"
                    placeholder="כתוב הערה כאן (אופציונלי)"
                    dir="rtl"
                    style="font: inherit"
          >
      </textarea>
        </label>
      </div>

      <div style="padding-top: 12px">
        - אשרו את הגעתכם -
        <div class="is-arriving">
          <button mat-raised-button color="accent"
                  (click)="handleWillArriveBtnClicked('no')"
                  [ngClass]="guestData.willArrive === 'no' ? 'selected' : null"
                  class="not-arriving-btn">
            <mat-icon>close</mat-icon>
            לא מגיע/ה
          </button>
          <button mat-raised-button color="accent"
                  (click)="handleWillArriveBtnClicked('yes')"
                  [ngClass]="guestData.willArrive === 'yes' ? 'selected' : null"
                  class="arriving-btn">
            <mat-icon>done</mat-icon>
            מגיע/ה
          </button>
          <!--        <button mat-raised-button color="accent"-->
          <!--                (click)="handleWillArriveBtnClicked('maybe')"-->
          <!--                [ngClass]="guestData.willArrive === 'maybe' ? 'selected' : null">-->
          <!--          <mat-icon>help_outline</mat-icon>-->
          <!--          אולי מגיע/ה-->
          <!--        </button>-->
        </div>
      </div>


      <!--      <div style="padding: 4px">-->
      <!--        <button mat-raised-button-->
      <!--                                 class="save-btn"-->
      <!--                                 (click)="saveGuestData()">-->
      <!--        עדכון סטטוס הגעה-->
      <!--      </button>-->

      <!--      </div>-->


      <!--      <div class="map">-->
      <!--        <agm-map-->
      <!--          [latitude]='lat'-->
      <!--          [longitude]='lng'-->
      <!--        >-->
      <!--          <agm-marker-->
      <!--            [latitude]="lat"-->
      <!--            [longitude]="lng">-->
      <!--          </agm-marker>-->

      <!--        </agm-map>-->
      <!--      </div>-->

      <div #mapElement style="height:250px"></div>


      <div class="navigate-calender">
        <div>
          <a mat-raised-button class="cal-link" target="_blank"
             href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MTM5bW85aWRhdDUxYzF0bHRxdmFtOGRnM20gZnRmZzgwc2lzODJ0Yzg2aDJ0bXY3NjRxYzBAZw&tmsrc=ftfg80sis82tc86h2tmv764qc0%40group.calendar.google.com">
            הוסיף/י ליומן
            <img class="waze-logo" src="./assets/images/calender.png" alt="הוסף ליומן"/>
          </a>
          <!--             href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MmQxNGcxYmkxNmN2cnFhc3JocG91YmZlNTUgdHJtYm85MkBt&tmsrc=trmbo92%40gmail.com"-->
          <!--             target="_blank" rel="nofollow" style="padding-right: 0;">-->
          <!--          הוסיף/י ליומן-->
          <!--          <img class="waze-logo" src="./assets/images/calender.png" alt="הוסף ליומן"/>-->
          <!--          </a>-->
        </div>

        <div>
          <a mat-raised-button href="http://waze.to/?ll=32.445022,34.937016" style="padding-right: 0;">
            Waze נווט דרך
            <img class="waze-logo" src="./assets/images/waze-logo.jpg" alt="נווט דרך Waze"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

