.background {
  /*background-image: url('/src/assets/images/wedding-quotes-1587481892 (1).jpg');*/
  background-image: url('https://i.imgur.com/8vuvDpv.jpg');
  background-size: cover;
  /*background-color: gainsboro;*/
}

.center {
  text-align: center;
  font-size: large;
  width: 100%; /* Full width */
  /*background-color: gainsboro;*/
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

.logo {
  object-fit: fill;
  width: 100%;
  height: 30%;
}

.title {
  margin: 24px;
}

.number-of-guests {
  font-size: 22px;
  width: 60px;
  height: 30px;
  text-align: center;
  margin: 10px;
}

.is-arriving {
  display: flex;
  justify-content: center;
}

button {
  margin: 8px;
}

agm-map {
  height: 200px;
  width: 300px;
}

.map {
  display: flex;
  justify-content: center;
}

.cal-link {
  margin-right: 10px;
  text-decoration: none !important;
}

.selected {
  border: 3px whitesmoke solid;
}

.message-input {
  width: 60%;
  max-width: 300px;
}

.amount-of-guests {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gusset-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.icon-size {
  width: 48px;
  height: 48px;
}

.arriving-btn {
  background-color: #07a887;
  color: white;
}

.not-arriving-btn {
  background-color: red;
  color: white;
}

.save-btn {
  background-color: limegreen;
  color: white;
  font-size: 22px;
}

.waze-logo {
  width: 50px;
  height: 40px;
  object-fit: fill;
  border-radius: 10px;
}

.navigate-calender {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*.icon-size:hover {*/
/*  background-color: #9d9494;*/
/*  border-radius: 100px;*/
/*}*/

::ng-deep .mapboxgl-popup-close-button {
  display: none;
}

::ng-deep .mapboxgl-popup-content {
  font-size: 12px;
  font-family: 'heebo', sans-serif;
  padding: 0;
  width: 200px;
  text-align: right;
  color: black;
}

::ng-deep .mapboxgl-popup-content-wrapper {
  padding: 1%;
}


.corner-container {
  width: 100%;
  /*height: 100px;*/
  position: relative;
  background-color: grey;
}

.corner {
  width: 0;
  height: 0;
  border-top: 150px solid #ffcc00;
  /*border-bottom: 150px solid transparent;*/
  border-left: 150px solid transparent;
  position: absolute;
  right: 0;
}

.corner span {
  position: absolute;
  top: -110px;
  width: 100px;
  left: -100px;
  text-align: center;
  font-size: 16px;
  font-family: 'heebo', sans-serif;
  transform: rotate(45deg);
  display: block;
}



/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


body,
input,
textarea,
button,
select,
mat-icon,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
